.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    background-color: #0f172a;
    color: white;
    font-family: monospace;
}
.container{
  max-width: 64rem;  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.subtitle{
    font-size: 1.12rem;
    color: #94a3b8;
    margin-bottom: 2rem;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
}

@media (min-width:768px){
    .grid{
        grid-template-columns: repeat(2, 1fr); /* split into 2 colums*/
    }
}
.card{
    padding: 1.5rem;
    border: 1px solid #334155;
    border-radius: 0.75rem;
    background-color: rgba(30, 41, 59, 0.5);
}
.cardTitleYellow{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #eab308;
}
.cardTitleBlue {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #60a5fa; /* Blue */
}

.list {
  list-style-type: disc;
  list-style-position: inside;
  color: #cbd5e1;
}

.text {
  color: #cbd5e1;
}